<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <localRepository/>
    <interactiveMode/>
    <offline/>
    <pluginGroups/>
    <servers>
       <server>
            <id>anypoint-exchange-v3</id>
            <username>~~~Client~~~</username>
            <password>c9d9478c92f0443495ecc3fc4ae6d43a~?~B520413FDcC048009507A6de9A3c96ee</password>
        </server>
        
        
    </servers>
    <mirrors/>
    <proxies/>
    <profiles/>
    <activeProfiles/>
</settings>
 